{{#if resume.meta.askforfullresume}}
<section class="main-summary" style="text-align: center">
    <h2 class='title'>
      Para una versión extendida, no dudes en solicitarla.
    </h2>
</section>
{{/if}}
